/* CSS */
@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.5);
    }

    70% {
        opacity: 0.8;
        transform: translateY(10px) scale(1.1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.dropdown-content {
    opacity: 0;
    transform: translateY(-20px) scale(0.5);
    transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    display: none;
}

.dropdown-content.active {
    display: block;
    animation: dropdownAnimation 0.5s ease forwards;
}